name: Deploy Testnet

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  CLOUDFLARE_API_TOKEN: ${{ secrets.BURNT_CLOUDFLARE_API_TOKEN }}
  CLOUDFLARE_ACCOUNT_ID: ${{ secrets.BURNT_CLOUDFLARE_ACCOUNT_ID }}

jobs:
  test:
    name: Run Tests
    uses: ./.github/workflows/test.yml

  deploy:
    name: Deploy to Testnet
    runs-on: ubuntu-latest
    needs: test
    environment: testnet
    permissions:
      contents: read
      deployments: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js app
        run: npm run build
        env:
          NEXT_PUBLIC_CHAIN_ID: "xion-testnet-2"

      - name: Deploy to Testnet
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ env.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ env.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy --env=testnet
