name: Deploy Mainnet

on:
  release:
    types:
      - released
  workflow_dispatch:

env:
  CLOUDFLARE_API_TOKEN: ${{ secrets.BURNT_CLOUDFLARE_API_TOKEN }}
  CLOUDFLARE_ACCOUNT_ID: ${{ secrets.BURNT_CLOUDFLARE_ACCOUNT_ID }}

jobs:
  test:
    name: Run Tests
    uses: ./.github/workflows/test.yml

  deploy:
    name: Deploy to Mainnet
    runs-on: ubuntu-latest
    needs: test
    environment:
      name: mainnet
    permissions:
      contents: read
      deployments: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: latest

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Next.js app
        run: pnpm run build
        env:
          NEXT_PUBLIC_CHAIN_ID: "xion-mainnet-1"

      - name: Deploy to Cloudflare
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.BURNT_CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.BURNT_CLOUDFLARE_ACCOUNT_ID }}
          command: deploy --env=mainnet
